@import "node_modules/bootstrap/scss/bootstrap";
@import "theme-colors.scss";

/* cutsom fonts*/
@import url("https://use.typekit.net/jaf6mwq.css");

body, p {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: acier-bat-solid, sans-serif;
    font-weight: 600;
    font-style: bold;
}