/* Change theme colors here... */
$red : #EB3337;
$pink: #F81F74;
$orange: #EA8B34;
$yellow: #F7D821;
$green: #39B54A;
$light-green: #8CC63F;
$teal: #39B29E;
$blue: #0A92EF;
$dark-blue: #0E5075;
$purple: #7E11B7;
$brown : #998675;
$dark-brown : #736357;
$light-brown : #C7B299;
$latte : #EFE3D5;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $dark-blue;
$success:       $green;
$info:          $teal;
$warning:       $orange;
$danger:        $red;
$light:         $gray-300;
$dark:          $gray-900;

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}