@import '../../theme-colors.scss';

.playlist {
    text-align: left;
}

.playlist-container {
    margin-top: 20pt;
    margin-bottom: 20pt;
    padding: 20pt;
}

.no-results {
    text-align: center;
    width: 100%;
}

.destination-uri-button {
    margin-top: 10pt;
    margin-bottom: 10pt;
    border-radius: 24pt;
    width: 100%;
}