@import '../../theme-colors.scss';

.playlist-item {
    padding: 0pt;
}

.album-art {
    width: 64pt;
    height: 64pt;
    margin: 10pt 0pt 10pt 10pt;
    background-color: $red;
    border-radius: 4pt;
}

.track-data {
    padding: 10pt;
}

.artist {
    color: $gray-700;
    padding-right: 6pt;
    font-weight: 300;
}